{{- partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }}
{{.Site.Home.Content}}
{{else}}
    <h1>Daniel Radomirov Yordanov</h1>
    <iframe
    width= "960"
    height="715" 
    rc="https://www.youtube.com/embed/UokZMBmnUGM"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
    </iframe>
{{ end }}
{{- partial "footer.html" . }}